<html lang="en">

    <head>

        <title> Inicio </title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link href="css/diseno.css" rel="stylesheet" type="text/css"/>
        </head>

        

        <hgroup>
        <h1><i><u> SITIOS TURISTICOS DE COLOMBIA </u></i></h1><br>
        <h2> El origen de los silleteros se remonta ala epoca de la colonia cuando hombres recios llevaban a su espalda grandes cantidades de peso con el que atravesaban montanas y escarpados
            caminos, propios de la exigente geografia colombiana. su trabajo cossistia en cargar a cuestas vajillas, muebles, enseres y hasta personas. La silleta, como fue conocido este armazon fue dejada del lado cuando aparecieron los medios de trasporte como el tren y los autos, sin embargo, este particular objeto se mantuvo en algunas regiones de Antioquia y esoecialmente en el corregimiento de Santa Helena, donde los campesinos continuaron llevando de esta manera sus hortalizas y floreza los mercados locales. <br><br>
            Con el tiempo, estas figuras se convirtieron en un icono de la cultura antioquena y hoy en dia son  la imagen torno a la cual gira la celebracion de la Feria de las Flores en Medellin. Las silletas son verdaderas obras humanas, animales y simbolos de la tradicion paisa. Esta expresion fue declarada como patrimonio cultiral de la Nacion en el 2003, junto con al conocido lema de "cuando pasan los silleros es Colombia lo que pasa" de alli, que mas que un simbolo de Antioquia hoy en dia sea un simbolo de nuestro pais.</h2>

        <h3><img src= "img/st1.jpg" width="400" heigth="300" /><h3><br>

         <div class="row">
      <div class="col s1">Antioquia</div>
      <div class="col s1">Caldas</div>
      <div class="col s1">Choco</div>
      <div class="col s1">Magdalena</div>
      <div class="col s1">Santader</div>
      <div class="col s1">Narino</div>
      <div class="col s1">Meta</div>
      <div class="col s1">Quindio</div>
      <div class="col s1">San Andres</div>
      <div class="col s1">Cauca</div>
      <div class="col s1">Tolima</div>
      <div class="col s1">Caqueta</div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st5.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Antioquia
         </span>
         </div>
        </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st6.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Caldas
         </span>
         </div>
        </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st7.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Choco
         </span>
         </div>
        </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st8.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Magdalena
         </span>
         </div>
        </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st9.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Santader
         </span>
         </div>
        </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st10.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Narino
         </span>
         </div>
        </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st11.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Meta
         </span>
         </div>
        </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st12.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Quindio
         </span>
         </div>
        </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st13.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             San andres
         </span>
         </div>
        </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st14.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Cauca
         </span>
         </div>
        </div>
        </div>
      </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st15.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Tolima
         </span>
         </div>
        </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="pink">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src= "img/st16.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
        <span class="black-text">
             Caqueta
         </span>
         </div>
        </div>
        </div>
      </div>
        
    </hgroup>

       

<nav>
        <ul>
            
            <li><a href="formulario.html"> Formulario de Registro a su sitio turistico </a> <br><br> </a></li>
            

            
                
                
                </ul>

        </nav>

            
        </form>
    </body>
</html>
